<div class="row">
    <div class="col-3">
        <p>単語</p>
    </div>
    <div class="col-9">
        <p>{{ word.word }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>意味1</p>
    </div>
    <div class="col-9">
        <p>{{ word.mean1 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>意味2</p>
    </div>
    <div class="col-9">
        <p>{{ word.mean2 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>意味3</p>
    </div>
    <div class="col-9">
        <p>{{ word.mean3 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>品詞</p>
    </div>
    <div class="col-9">
        <p>{{ word.part_of_speech }}</p>
    </div>
</div>